[submodule "docs"]
	path = docs
	url = git@github.com:didamendes/diogomendes-algashop-docs.git
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:didamendes/diogomendes-algashop-ordering.git
